.Ball {
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: tomato;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.Ball p {
  line-height: 2rem;
  font-size: 2rem;
}
