.Lottery {
  color: white;
}

.Lottery button {
  color: white;
  background-color: darkslateblue;
  padding: 5px 20px;
  margin-top: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
